body{
    background-color: #92a8d1;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 35px;
}


#header{
    
    text-align: center;
    color: white;
}

#grocery-list{
    margin: 10px;
    padding-bottom: 10px;
    
}

#grocery-adder{
    /* border: 5px solid rgb(0, 255, 251); */
    
}



#grocery-item {
    display: flex;
    height: 40px; /* Set container height */
    align-items: center; /* Center items vertically */
    margin: 10px;

}

#grocery-item button {
    margin-left: 2%;
    background-color: #f44336;
    width: 20%;
    height: 100%; /* Make the button match container height */
}

#recipe-item-remove {
    background-color: #f44336;
    color: white;
    border: none;
    border-color: 4px;
    padding: 10px 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#grocery-item p {
    width: 63%;
    height: 100%; /* Make the paragraph match container height */
    padding: 0 16px; /* Remove vertical padding */
    margin: 0; /* Remove margin to match button height */
    font-size: 16px;
    font-weight: bold;
    color: #034f84;
    background-color: #f7f7f7;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    border-radius: 8px;
    display: flex;
    align-items: center; /* Center text vertically */
}




#grocery-app{
    width: 500px;
    background-color: #034f84;
    border-radius: 10px;
    padding-top: 1px;
    box-shadow: 10px 10px 10px #000c1555;
}

#recipe-item{
    background-color: #f7cac9;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

#recipe-item-header{
    display: flex;
    justify-content:space-between ;
}


#recipe-item h2{
    color: #034f84;
    text-align: center;
    width: 100%;
    
}

input[type="text"] {
    width: 60%;
    padding: 12px 16px;
    margin: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s;
}

#

button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
}

button:focus {
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 3px 6px rgba(0, 123, 255, 0.3);
}